@import "tailwindcss";

html,
body {
    height: 100%;
    min-height: 100dvh;
    min-height: -webkit-fill-available;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    min-height: -webkit-fill-available;
}
